.csyScroll:hover .csyScrollBar.csy-scroll-grabbed{
  cursor     : -moz-grabbing;
  cursor     : -webkit-grabbing;
  background : #FFF;
}

body.csy-scroll-grabbed{
  cursor     : -moz-grabbing;
  cursor     : -webkit-grabbing;
}

body {
  margin: 0;
  color: #373737;
  background-color: #FAFAFC;
  line-height: 1.5;
  font-size: 100%;
}

body,
body * {
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

img { 
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}
svg { 
  fill:currentColor;
  vertical-align:middle;
  max-height: 100%
}

b,
strong {
  font-weight: 600 !important;
}

input,
select,
textarea,
fieldset {
  font-family: inherit;
  font-size: 1rem;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
}

label {
  vertical-align: middle;
}

.input,
button,
input[type=text],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=week] {
  height: 2.4em;
  padding: .5rem .5rem;
  vertical-align: middle;
  -webkit-appearance: none;
}

select {
  line-height: 1.75;
  padding: .5rem .5rem;
  vertical-align: middle;
}

textarea {
  line-height: 1.75;
  padding: .5rem .5rem;
  max-width: 100%;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
}

th {
  text-align: left;
  font-weight: 600;
}

th,
td {
  padding: .25rem 1rem;
  line-height: inherit;
}

th { vertical-align: bottom }
td { vertical-align: top }

.s1 {
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.16);
}
.s2 {
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.24);
}
.s3 {
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.32);
}
.s4 {
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.40);
}
.s5 {
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.48);
}

*:focus {
  outline: none !important;
}

.field:focus {
  border: 1px solid #4387FD;
}

.btn-primary:focus {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.42) !important;
}

.field {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0,0,0,.125);
  border-radius: 3px;
}

.field:disabled {
  background-color: rgba(0,0,0,.125);
  opacity: .5;
}


.field.ng-dirty:invalid {
  border-color: #ff4136;
}

a {
  color: #2980ba;
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

hr {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0,0,0,.125);
}

.btn {
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  line-height: 1.125rem;
  padding: .5rem 1rem;
  margin: 0;
  border: 1px solid transparent;
  vertical-align: middle;
  -webkit-appearance: none;
  color: #FFF;
  background-color: transparent;
}

.btn:hover {
  text-decoration: none;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.btn-primary {
  border-radius: 3px;
  color: #111;
  background-color: #fff;
}

.btn-primary:hover {
  opacity: 0.7;
}

.btn-primary:disabled,
.btn-primary.is-disabled {
  opacity: .5;
}

.btn-outline,
.btn-outline:hover {
  border-color: currentcolor;
}

.btn-outline {
  border-radius: 3px;
}

.btn-outline:hover {
  box-shadow: inset 0 0 0 20rem rgba(0,0,0,.0625);
}

.btn-outline:active {
  box-shadow: inset 0 0 0 20rem rgba(0,0,0,.125),
  inset 0 3px 4px 0 rgba(0,0,0,.25),
  0 0 1px rgba(0,0,0,.125);
}

.btn-outline:disabled,
.btn-outline.is-disabled {
  opacity: .5;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently*/
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

pre, code, samp {
  font-family: 'Source Code Pro', Consolas, monospace;
  font-size: inherit;
  background-color: transparent;
  border-radius: 3px;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow-x: scroll;
}

h1 { font-size: 2rem }
h2 { font-size: 1.5rem }
h3 { font-size: 1.25rem }
h4 { font-size: 1rem }
h5 { font-size: .875rem }
h6 { font-size: .75rem }

.h1 { font-size: 2rem }
.h2 { font-size: 1.5rem }
.h3 { font-size: 1.25rem }
.h4 { font-size: 1rem }
.h5 { font-size: .875rem }
.h6 { font-size: .75rem }

.bold    { font-weight: 600 }
.bolder  { font-weight: 900 }
.regular { font-weight: normal }
.italic  { font-style: italic }
.caps    { text-transform: uppercase; }
.underline { text-decoration: underline; }
.left-align   { text-align: left }
.center       { text-align: center }
.right-align  { text-align: right }
.justify      { text-align: justify }

.left  { float: left }
.right { float: right }
.fit { max-width: 100% }
.border-box { box-sizing: border-box }

@media (max-width: 40em) {
  .sm-left  { float: left }
  .sm-right  { float: right }
  .sm-left-align   { text-align: left }
  .sm-center   { text-align: center }
  .sm-right-align   { text-align: right }
  .sm-justify   { text-align: justify }
  .sm-left  { float: left }
  .sm-right  { float: right }
}
@media (min-width: 52em) and (max-width: 63em) {
  .md-left  { float: left }
  .md-right  { float: right }
  .md-left-align   { text-align: left }
  .md-center   { text-align: center }
  .md-right-align   { text-align: right }
  .md-justify   { text-align: justify }
  .md-left  { float: left }
  .md-right  { float: right }
}
@media (min-width: 64em) {
  .lg-left  { float: left }
  .lg-right  { float: right }
  .lg-left-align   { text-align: left }
  .lg-center   { text-align: center }
  .lg-right-align   { text-align: right }
  .lg-justify   { text-align: justify }
  .lg-left  { float: left }
  .lg-right  { float: right }
}

.pre-line {	white-space: pre-line; }
.nowrap { white-space: nowrap }
.break-word { word-wrap: break-word }

.list-reset {
  list-style: none;
  padding-left: 0;
}

.inline       { display: inline }
.block        { display: block }
.inline-block { display: inline-block }
.table        { display: table }
.table-row   { display: table-row; }
.table-cell   { display: table-cell; vertical-align: middle; }
.table-light th,
.table-light td {
  vertical-align: middle;
  padding: 8px 4px;
  border-right: 0 !important;
  border-left: 0 !important;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0,0,0,.125);
}

.table-light thead tr:first-child th {
  border-top: 1px solid rgba(0,0,0,.125);
}

.table-light tr th:first-child,
.table-light tr td:first-child {
  border-left: 1px solid rgba(0,0,0,.125);
}
.table-light tr th:last-child,
.table-light tr td:last-child {
  border-right: 1px solid rgba(0,0,0,.125);
}

.table-fixed { table-layout: fixed }
@media (min-width: 40em) {

  .sm-table {
    display: table;
    width: 100%;
  }
  .sm-table-cell {
    display: table-cell;
    vertical-align: middle;
  }

}
@media (min-width: 52em) {

  .md-table {
    display: table;
    width: 100%;
  }
  .md-table-cell {
    display: table-cell;
    vertical-align: middle;
  }

}
@media (min-width: 64em) {

  .lg-table {
    display: table;
    width: 100%;
  }
  .lg-table-cell {
    display: table-cell;
    vertical-align: middle;
  }

}

.overflow-hidden { overflow: hidden !important }
.overflow-scroll { overflow: scroll !important }
.overflow-scroll-x { overflow-x: scroll !important }
.overflow-scroll-y { overflow-y: scroll !important }
.overflow-auto   { overflow: auto !important }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table
}
.clearfix:after { clear: both }

.align-baseline { vertical-align: baseline }
.align-top      { vertical-align: top }
.align-middle   { vertical-align: middle }
.align-bottom   { vertical-align: bottom }


.display-collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .20s;
  -o-transition-duration: .20s;
  transition-duration: .20s;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility;
}
.display-none    { display: none !important }
.display-inherit { display: inherit !important }
.hidden { visibility: hidden !important }

.hide {
  position: absolute !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
}

.show {
  position: static !important;
  height: auto;
  width: auto;
  overflow: auto;
}

.container {
  max-width: 64em;
  margin-left: auto;
  margin-right: auto;
}
.col {
  float: left;
  box-sizing: border-box;
}

.col-right {
  float: right;
  box-sizing: border-box;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}
@media (max-width: 40em) {

  .sm-col {
    float: left;
    box-sizing: border-box;
  }

  .sm-col-right {
    float: right;
    box-sizing: border-box;
  }

  .sm-col-1 {
    width: 8.33333%;
  }

  .sm-col-2 {
    width: 16.66667%;
  }

  .sm-col-3 {
    width: 25%;
  }

  .sm-col-4 {
    width: 33.33333%;
  }

  .sm-col-5 {
    width: 41.66667%;
  }

  .sm-col-6 {
    width: 50%;
  }

  .sm-col-7 {
    width: 58.33333%;
  }

  .sm-col-8 {
    width: 66.66667%;
  }

  .sm-col-9 {
    width: 75%;
  }

  .sm-col-10 {
    width: 83.33333%;
  }

  .sm-col-11 {
    width: 91.66667%;
  }

  .sm-col-12 {
    width: 100%;
  }

}
@media (min-width: 41em) and (max-width: 63em) {
  .md-col {
    float: left;
    box-sizing: border-box;
  }

  .md-col-right {
    float: right;
    box-sizing: border-box;
  }

  .md-col-1 {
    width: 8.33333%;
  }

  .md-col-2 {
    width: 16.66667%;
  }

  .md-col-3 {
    width: 25%;
  }

  .md-col-4 {
    width: 33.33333%;
  }

  .md-col-5 {
    width: 41.66667%;
  }

  .md-col-6 {
    width: 50%;
  }

  .md-col-7 {
    width: 58.33333%;
  }

  .md-col-8 {
    width: 66.66667%;
  }

  .md-col-9 {
    width: 75%;
  }

  .md-col-10 {
    width: 83.33333%;
  }

  .md-col-11 {
    width: 91.66667%;
  }

  .md-col-12 {
    width: 100%;
  }

}
@media (min-width: 64em) {

  .lg-col {
    float: left;
    box-sizing: border-box;
  }

  .lg-col-right {
    float: right;
    box-sizing: border-box;
  }

  .lg-col-1 {
    width: 8.33333%;
  }

  .lg-col-2 {
    width: 16.66667%;
  }

  .lg-col-3 {
    width: 25%;
  }

  .lg-col-4 {
    width: 33.33333%;
  }

  .lg-col-5 {
    width: 41.66667%;
  }

  .lg-col-6 {
    width: 50%;
  }

  .lg-col-7 {
    width: 58.33333%;
  }

  .lg-col-8 {
    width: 66.66667%;
  }

  .lg-col-9 {
    width: 75%;
  }

  .lg-col-10 {
    width: 83.33333%;
  }

  .lg-col-11 {
    width: 91.66667%;
  }

  .lg-col-12 {
    width: 100%;
  }

}

.flex { display: flex }

.flex-column  { flex-direction: column }
.flex-wrap    { flex-wrap: wrap }

.flex-center   { align-items: center }
.flex-baseline { align-items: baseline }
.flex-stretch  { align-items: stretch }
.flex-start    { align-items: flex-start }
.flex-end      { align-items: flex-end }

.flex-justify  { justify-content: space-between }

.flex-auto {
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}
.flex-grow { flex: 1 0 auto }
.flex-none { flex: none }

.flex-first { order: -1 }
.flex-last  { order: 99999 }
@media (max-width: 40em) {
  .sm-flex { display: flex }
}
@media (min-width: 41em) and (max-width: 63em) {
  .md-flex { display: flex }
}
@media (min-width: 64em) {
  .lg-flex { display: flex }
}



.rounded { border-radius: 3px }
.pill { border-radius: 50px }
.circle  { border-radius: 50% }

.rounded-top    { border-radius: 3px 3px 0 0 }
.rounded-right  { border-radius: 0 3px 3px 0 }
.rounded-bottom { border-radius: 0 0 3px 3px }
.rounded-left   { border-radius: 3px 0 0 3px }

.not-rounded { border-radius: 0 }

.bg-cover   { background-size: cover }
.bg-contain { background-size: contain }

.bg-center  { background-position: center }
.bg-top     { background-position: top }
.bg-right   { background-position: right }
.bg-bottom  { background-position: bottom }
.bg-left    { background-position: left }

.btn-small {
  padding: .25rem .5rem;
}

.btn-big {
  padding: 1rem 1.25rem;
}

.btn-narrow {
  padding-left: .5rem;
  padding-right: .5rem;
}

@media (max-width: 40em) {

  .sm-m0  { margin:        0 }
  .sm-mt0 { margin-top:    0 }
  .sm-mr0 { margin-right:  0 }
  .sm-mb0 { margin-bottom: 0 }
  .sm-ml0 { margin-left:   0 }

  .sm-m1  { margin: .5rem }
  .sm-mt1 { margin-top: .5rem }
  .sm-mr1 { margin-right: .5rem }
  .sm-mb1 { margin-bottom: .5rem }
  .sm-ml1 { margin-left: .5rem }

  .sm-m2  { margin: 1rem }
  .sm-mt2 { margin-top: 1rem }
  .sm-mr2 { margin-right: 1rem }
  .sm-mb2 { margin-bottom: 1rem }
  .sm-ml2 { margin-left: 1rem }

  .sm-m3  { margin: 2rem }
  .sm-mt3 { margin-top: 2rem }
  .sm-mr3 { margin-right: 2rem }
  .sm-mb3 { margin-bottom: 2rem }
  .sm-ml3 { margin-left: 2rem }

  .sm-m4  { margin: 4rem }
  .sm-mt4 { margin-top: 4rem }
  .sm-mr4 { margin-right: 4rem }
  .sm-mb4 { margin-bottom: 4rem }
  .sm-ml4 { margin-left: 4rem }

  .sm-mxn1 { margin-left: -.5rem; margin-right: -.5rem; }
  .sm-mxn2 { margin-left: -1rem; margin-right: -1rem; }
  .sm-mxn3 { margin-left: -2rem; margin-right: -2rem; }
  .sm-mxn4 { margin-left: -4rem; margin-right: -4rem; }

  .sm-mx-auto { margin-left: auto; margin-right: auto; }

}
@media (min-width: 52em) and (max-width: 63em) {

  .md-m0  { margin:        0 }
  .md-mt0 { margin-top:    0 }
  .md-mr0 { margin-right:  0 }
  .md-mb0 { margin-bottom: 0 }
  .md-ml0 { margin-left:   0 }

  .md-m1  { margin: .5rem }
  .md-mt1 { margin-top: .5rem }
  .md-mr1 { margin-right: .5rem }
  .md-mb1 { margin-bottom: .5rem }
  .md-ml1 { margin-left: .5rem }

  .md-m2  { margin: 1rem }
  .md-mt2 { margin-top: 1rem }
  .md-mr2 { margin-right: 1rem }
  .md-mb2 { margin-bottom: 1rem }
  .md-ml2 { margin-left: 1rem }

  .md-m3  { margin: 2rem }
  .md-mt3 { margin-top: 2rem }
  .md-mr3 { margin-right: 2rem }
  .md-mb3 { margin-bottom: 2rem }
  .md-ml3 { margin-left: 2rem }

  .md-m4  { margin: 4rem }
  .md-mt4 { margin-top: 4rem }
  .md-mr4 { margin-right: 4rem }
  .md-mb4 { margin-bottom: 4rem }
  .md-ml4 { margin-left: 4rem }

  .md-mxn1 { margin-left: -.5rem; margin-right: -.5rem; }
  .md-mxn2 { margin-left: -1rem; margin-right: -1rem; }
  .md-mxn3 { margin-left: -2rem; margin-right: -2rem; }
  .md-mxn4 { margin-left: -4rem; margin-right: -4rem; }

  .md-mx-auto { margin-left: auto; margin-right: auto; }

}
@media (min-width: 64em) {

  .lg-m0  { margin:        0 }
  .lg-mt0 { margin-top:    0 }
  .lg-mr0 { margin-right:  0 }
  .lg-mb0 { margin-bottom: 0 }
  .lg-ml0 { margin-left:   0 }

  .lg-m1  { margin: .5rem }
  .lg-mt1 { margin-top: .5rem }
  .lg-mr1 { margin-right: .5rem }
  .lg-mb1 { margin-bottom: .5rem }
  .lg-ml1 { margin-left: .5rem }

  .lg-m2  { margin: 1rem }
  .lg-mt2 { margin-top: 1rem }
  .lg-mr2 { margin-right: 1rem }
  .lg-mb2 { margin-bottom: 1rem }
  .lg-ml2 { margin-left: 1rem }

  .lg-m3  { margin: 2rem }
  .lg-mt3 { margin-top: 2rem }
  .lg-mr3 { margin-right: 2rem }
  .lg-mb3 { margin-bottom: 2rem }
  .lg-ml3 { margin-left: 2rem }

  .lg-m4  { margin: 4rem }
  .lg-mt4 { margin-top: 4rem }
  .lg-mr4 { margin-right: 4rem }
  .lg-mb4 { margin-bottom: 4rem }
  .lg-ml4 { margin-left: 4rem }

  .lg-mxn1 { margin-left: -.5rem; margin-right: -.5rem; }
  .lg-mxn2 { margin-left: -1rem; margin-right: -1rem; }
  .lg-mxn3 { margin-left: -2rem; margin-right: -2rem; }
  .lg-mxn4 { margin-left: -4rem; margin-right: -4rem; }

  .lg-mx-auto { margin-left: auto; margin-right: auto; }

}

@media (max-width: 40em) {

  .sm-p1  { padding: .5rem }
  .sm-pt1 { padding-top: .5rem }
  .sm-pr1 { padding-right: .5rem }
  .sm-pb1 { padding-bottom: .5rem }
  .sm-pl1 { padding-left: .5rem }
  .sm-py1 { padding-top: .5rem; padding-bottom: .5rem }
  .sm-px1 { padding-left: .5rem; padding-right: .5rem }

  .sm-p2  { padding: 1rem }
  .sm-pt2 { padding-top: 1rem }
  .sm-pr2 { padding-right: 1rem }
  .sm-pb2 { padding-bottom: 1rem }
  .sm-pl2 { padding-left: 1rem }
  .sm-py2 { padding-top: 1rem; padding-bottom: 1rem }
  .sm-px2 { padding-left: 1rem; padding-right: 1rem }

  .sm-p3  { padding: 2rem }
  .sm-pt3 { padding-top: 2rem }
  .sm-pr3 { padding-right: 2rem }
  .sm-pb3 { padding-bottom: 2rem }
  .sm-pl3 { padding-left: 2rem }
  .sm-py3 { padding-top: 2rem; padding-bottom: 2rem }
  .sm-px3 { padding-left: 2rem; padding-right: 2rem }

  .sm-p4  { padding: 3rem }
  .sm-pt4 { padding-top: 3rem }
  .sm-pr4 { padding-right: 3rem }
  .sm-pb4 { padding-bottom: 3rem }
  .sm-pl4 { padding-left: 3rem }
  .sm-py4 { padding-top: 3rem; padding-bottom: 3rem }
  .sm-px4 { padding-left: 3rem; padding-right: 3rem }

  .sm-p0  { padding:        0 }
  .sm-pt0 { padding-top:    0 }
  .sm-pr0 { padding-right:  0 }
  .sm-pb0 { padding-bottom: 0 }
  .sm-pl0 { padding-left:   0 }
}
@media (min-width: 52em) and (max-width: 63em) {
  .md-p1  { padding: .5rem }
  .md-pt1 { padding-top: .5rem }
  .md-pr1 { padding-right: .5rem }
  .md-pb1 { padding-bottom: .5rem }
  .md-pl1 { padding-left: .5rem }
  .md-py1 { padding-top: .5rem; padding-bottom: .5rem }
  .md-px1 { padding-left: .5rem; padding-right: .5rem }

  .md-p2  { padding: 1rem }
  .md-pt2 { padding-top: 1rem }
  .md-pr2 { padding-right: 1rem }
  .md-pb2 { padding-bottom: 1rem }
  .md-pl2 { padding-left: 1rem }
  .md-py2 { padding-top: 1rem; padding-bottom: 1rem }
  .md-px2 { padding-left: 1rem; padding-right: 1rem }

  .md-p3  { padding: 2rem }
  .md-pt3 { padding-top: 2rem }
  .md-pr3 { padding-right: 2rem }
  .md-pb3 { padding-bottom: 2rem }
  .md-pl3 { padding-left: 2rem }
  .md-py3 { padding-top: 2rem; padding-bottom: 2rem }
  .md-px3 { padding-left: 2rem; padding-right: 2rem }

  .md-p4  { padding: 3rem }
  .md-pt4 { padding-top: 3rem }
  .md-pr4 { padding-right: 3rem }
  .md-pb4 { padding-bottom: 3rem }
  .md-pl4 { padding-left: 3rem }
  .md-py4 { padding-top: 3rem; padding-bottom: 3rem }
  .md-px4 { padding-left: 3rem; padding-right: 3rem }

  .md-p0  { padding:        0 }
  .md-pt0 { padding-top:    0 }
  .md-pr0 { padding-right:  0 }
  .md-pb0 { padding-bottom: 0 }
  .md-pl0 { padding-left:   0 }
}
@media (min-width: 64em) {
  .lg-p1  { padding: .5rem }
  .lg-pt1 { padding-top: .5rem }
  .lg-pr1 { padding-right: .5rem }
  .lg-pb1 { padding-bottom: .5rem }
  .lg-pl1 { padding-left: .5rem }
  .lg-py1 { padding-top: .5rem; padding-bottom: .5rem }
  .lg-px1 { padding-left: .5rem; padding-right: .5rem }

  .lg-p2  { padding: 1rem }
  .lg-pt2 { padding-top: 1rem }
  .lg-pr2 { padding-right: 1rem }
  .lg-pb2 { padding-bottom: 1rem }
  .lg-pl2 { padding-left: 1rem }
  .lg-py2 { padding-top: 1rem; padding-bottom: 1rem }
  .lg-px2 { padding-left: 1rem; padding-right: 1rem }

  .lg-p3  { padding: 2rem }
  .lg-pt3 { padding-top: 2rem }
  .lg-pr3 { padding-right: 2rem }
  .lg-pb3 { padding-bottom: 2rem }
  .lg-pl3 { padding-left: 2rem }
  .lg-py3 { padding-top: 2rem; padding-bottom: 2rem }
  .lg-px3 { padding-left: 2rem; padding-right: 2rem }

  .lg-p4  { padding: 3rem }
  .lg-pt4 { padding-top: 3rem }
  .lg-pr4 { padding-right: 3rem }
  .lg-pb4 { padding-bottom: 3rem }
  .lg-pl4 { padding-left: 3rem }
  .lg-py4 { padding-top: 3rem; padding-bottom: 3rem }
  .lg-px4 { padding-left: 3rem; padding-right: 3rem }

  .lg-p0  { padding:        0 }
  .lg-pt0 { padding-top:    0 }
  .lg-pr0 { padding-right:  0 }
  .lg-pb0 { padding-bottom: 0 }
  .lg-pl0 { padding-left:   0 }
}

.x-group-item { margin-left: -1px }
.x-group-item:first-of-type { margin-left: 0 }

.y-group-item { margin-top: -1px }
.y-group-item:first-of-type { margin-top: 0 }

.x-group-item:focus,
.y-group-item:focus {
  position: relative;
  z-index: 1;
}

.h00 { font-size: 4rem }
.h0 {  font-size: 3rem }

.white { color: #fff }
.light { color: #fff }
.stable { color: #ced4da }
.positive { color: #22b8cf }
.calm { color: #f1f3f5 }
.balanced { color: #329af0 }
.energized { color: #cc5de8 }
.assertive { color: #ef473a }
.royal { color: #886aea }
.dark { color: #181c24 }
.transparent { color: transparent; }

.color-inherit { color: inherit }

.bg-white { background-color: #fff }
.bg-light { background-color: #fff }
.bg-stable { background-color: #ced4da }
.bg-positive { background-color: #22b8cf }
.bg-calm { background-color: #f1f3f5 }
.bg-balanced { background-color: #329af0 }
.bg-energized { background-color: #cc5de8 }
.bg-assertive { background-color: #ef473a }
.bg-royal { background-color: #886aea }
.bg-dark { background-color: #181c24 }
.bg-transparent { background-color: transparent; }

.border-white { border-color: #fff }
.border-light { border-color: #fff }
.border-stable { border-color: #ced4da }
.border-positive { border-color: #22b8cf }
.border-calm { border-color: #f1f3f5 }
.border-balanced { border-color: #329af0 }
.border-energized { border-color: #cc5de8 }
.border-assertive { border-color: #ef473a }
.border-royal { border-color: #886aea }
.border-dark { border-color: #181c24 }
.border-transparent { border-color: transparent }
